{% extends 'base.html' %}
{% block content %}
<div class="container">
<form method="POST">{% csrf_token %}
<label>
案件名
</label>
<input class='form-control' value='{{item.title}}' readonly>
<label>
住所
</label>
<input class='form-control' value='{{item.address}}' readonly>
<label>
面積
</label>
<input class='form-control' value='{{item.size}}' readonly>
<label>
入札価格
</label>
<input class='form-control' value='{{item.purchase_price}}' readonly>
<label>
想定利益
</label>
<input class='form-control' value='{{item.estimated_profit}}' readonly>
<label>
コスト
</label>
<input class='form-control' value='{{item.cost}}' readonly>
<label>
背景
</label>
<input class='form-control' value='{{item.project_background}}' readonly>
<label>
申請日
</label>
<input class='form-control' value='{{item.applied_date}}' readonly>
<label>
入札額
</label>
<input type='number' class='form-control' name='order_price'>
<label>
  ステータス
</label>
<select name="status">
  <option value="0">申請中</option>
  <option value="1">承認</option>
  <option value="2">却下</option>
</select>
<br>
<label>
コメント
</label>
<textarea class='form-control' name='comment' rows='5'></textarea>
<input name='item' type="hidden" value="{{ item.id }}">
<input type="submit" value='送信'>

</form>
</div>
{% endblock content %}
