{% extends 'base.html' %}

{% block content %}
  <body>
    <div class="container">
      <div class="container-fluid p-0">
      <h1 class="h3 mb-3">案件一覧</h1>
      <h1 class="h3 mb-3"><a href="{% url 'item-create' %}">新規申請</a></h1>
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="card-actions float-right">
                <div class="dropdown show">
                  <a href="#" data-toggle="dropdown" data-display="static">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <h5 class="card-title mb-0">Clients</h5>
            </div>
            <div class="card-body">
              <table class="table table-striped" style="width:100%">
                <thead>
                  <tr>
                    <th>申請日</th>
                    <th>プロジェクト名</th>
                    <th>住所</th>
                    <th>仕入金額</th>
                    <th>状況</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in object_list %}
                  <tr>
                    <td>{{item.applied_date}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.purchase_price}}</td>
                    <td><span class="badge bg-success">{{item.status}}</span></td>
                    <td><a href="{% url 'item-check' item.pk %}">審査をする</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>  
    </div>
  </div>
  </body>
{% endblock content %}